@model IEnumerable<ProductTableModel>

@{
    ViewBag.Title = "Index";
}

<div class="query">
    <div class="display-count">
        <label for="count">Show</label>
        <select id="count">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
        <span>entries</span>
    </div>
    <div class="search-query">
        <input type="text" placeholder="Search" />
        <button>Search</button>
    </div>
    <div class="product-actions">
        <a asp-area="Admin" asp-controller="Product" asp-action="Add" class="add-product">
            <span>
                <i class="fa-solid fa-plus"></i>
            </span>
            Add Product
        </a>
    </div>
</div>
<table>
    <tr class="theader">
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubcategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoldCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OnSale)
        </th>
    </tr>
    @foreach (var product in Model)
    {
        <tr class="item">
            <td>
                @product.Quantity
            </td>
            <td>
                @product.Name
            </td>
            <td>
                @product.BrandName
            </td>
            <td>
                @(product.Price) лв.
            </td>
            <td>
                @product.CategoryName
            </td>
            <td>
                @product.SubcategoryName
            </td>
            <td>
                @product.SoldCount
            </td>
            <td>
                @product.OnSale
            </td>
        </tr>
    }
</table>