@model ProductRestockViewModel

@{
    ViewBag.Title = "Restock";
}

<div class="flex flex-col items-center gap-5"
    <div class="text-center">
        <h1>@ViewBag.Title</h1>
    </div>
    <div class="flex justify-center gap-10">
        <div class="rounded-lg border border-gray-300 py-6">
            <form class="flex flex-col items-center gap-7" method="post">
                <div class="text-xs italic text-red-500" asp-validation-summary="ModelOnly"></div>

                <div class="flex flex-col items-center">
                    <label asp-for="@Model.Id"></label>
                    <span asp-validation-for="@Model.Id" class="text-xs italic text-red-500"></span>
                    <select class="rounded-lg border border-gray-400 px-3 py-1.5" asp-for="@Model.Id">
                        @foreach (var product in ViewBag.Products)
                        {
                                    <option value="@product.Id">@(product.Name) | @(product.Quantity)</option>
                        }
                    </select>
                </div>

                <div class="flex flex-col items-center">
                    <label asp-for="@Model.Count"></label>
                    <span asp-validation-for="@Model.Count" class="text-xs italic text-red-500"></span>
                    <input asp-for="@Model.Count" class="w-2/5 rounded-lg border border-gray-400 px-3 py-1.5" type="number" min="1" value="1"/>
                </div>

                <button class="rounded-lg bg-amber-500 px-3 py-1.5 text-lg text-white hover:bg-amber-600" type="submit">Restock</button>
            </form>
        </div>
    </div>
</div>
