@model ProductHomeViewModel;

@{
    ViewData["Title"] = "Home";
}

<div class="grid grid-cols-4 gap-16 justify-items-center">
    @foreach (var product in Model.AllProducts)
    {
        @* <div class="col-md-3 mb-5">
    <div class="card h-100" style="width: 18rem;">
    <img src="@product.ImageUrl" class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title">@product.Name</h5>
    <p class="card-text">@product.Description</p>
    <p class="card-text">@(product.Price) лв.</p>
    @if (User.Identity?.IsAuthenticated ?? false)
    {
    <div class="btn-group d-flex justify-content-between">
    <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-primary">Редактирай</a>
    <form asp-controller="Product" asp-action="Delete" method="post">
    <input type="hidden" name="id" value="@product.Id" />
    <button type="submit" class="btn btn-danger" onclick="deleteProduct(event)">Изтрий</button>
    </form>
    </div>
    }
    </div>
    </div>
    </div> *@
        <partial name="_HomeIndexCardPartial" model="product" />
    }
</div>

      
      


@* 
@section Scripts {
    <partial name="_SweetAlertScriptsPartial" />
}
 *@

 <!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/output.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    
  </body>
</html> -->