@model ProductDetailsViewModel

@{
    ViewData["Title"] = "Details";
}



<div class="flex gap-28">
    <div class="basis-[200%] flex flex-col items-center gap-20">
        <div class="w-64">
            <img src="@Model.ProductImg" alt="Alternate Text" />
        </div>
        
        <div class="flex w-full flex-col gap-12">
            <div class="flex gap-7 border-b border-gray-300 text-sm">
                <p class="border-b border-b-transparent pb-2.5 hover:border-gray-500">
                    <a>
                        Описание
                    </a>
                </p>
                <p class="border-b border-b-transparent pb-2.5 hover:border-gray-500">
                    <a>
                        Състав
                    </a>
                </p>
                <p class="border-b border-b-transparent pb-2.5 hover:border-gray-500">
                    <a>
                        За марката
                    </a>
                </p>
            </div>
            <div>
                <div class="mb-4 text-xl font-semibold">
                    <p>Описание @Model.Name</p>
                </div>
                <div class="rounded-sm border border-neutral-200 text-sm">
                    <div class="flex bg-neutral-100 px-3 py-3">
                        <p class="basis-[50%]">глава</p>
                        <p class="basis-[50%] font-medium">бергамот, палисандър, кардамон, лимон, карамбола</p>
                    </div>
                    <div class="flex px-3 py-3">
                        <p class="basis-[50%]">сърце</p>
                        <p class="basis-[50%] font-medium">градински чай, кедър, пипер</p>
                    </div>
                    <div class="flex bg-neutral-100 px-3 py-3">
                        <p class="basis-[50%]">база</p>
                        <p class="basis-[50%] font-medium">кехлибар, шафран, мускус, дървесни тонове, Чинар</p>
                    </div>
                    <div class="flex px-3 py-3">
                        <p class="basis-[50%]">Вид аромат</p>
                        <p class="basis-[50%] font-medium">Водни, Дървесни</p>
                    </div>
                </div>
            </div>
            <div class="leading-relaxed">
                <p>Почерпете сила от Средиземноморието. Тоалетната вода Versace Man Eau Fraîche представлява по-свеж вариант на аромата Versace Man и има по-ярък воден характер. Перфектно допълва мъжа, който не иска да е просто един от тълпата, а напротив, мечтае да впечатли с индивидуалния си стил и личния си чар.</p>
            </div>
            <div>
                <div class="text-lg font-semibold">
                    <p>Съставки на аромата</p>
                </div>
                <div class="leading-relaxed">
                    <p>От първите мигове след вдъхването на аромата ще ви освежат цитрусовите нотки на искрящите бергамот и лимон, допълнени от сочна карамбола, напомняща жасмин. Не липсват и дървесни акорди с дъх на рози под формата на палисандър и пронизващ, пикантен кардамон. В сърцевинните нотки кедровото дърво се съчетава с билковите есенции на салвия и стипчив пипер. Дървесна е и базата на аромата Versace Man Eau Fraîche. Тук доминират акордите на платан, преплитащи се с топлината на амбра и мускус. Шафранът пък гарантира уникално докосване, което е упоително сладко, нежно цветно и в същото време пикантно.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="basis-[100%]">
        <div class="flex flex-col gap-2.5">
            <div>
                <p>
                    <a class="font-light underline" href="#">@Model.BrandName</a> <span class="font-bold">@Model.Name</span>
                </p>
            </div>
            <div>
                <p>тоалетна вода</p>
            </div>
        </div>
        @if (Model.Price >= 100)
        {
            <div class="inline-block bg-black px-2 py-1 text-xs font-bold text-neutral-200">
                <p>
                    Безплатна доставка
                </p>
            </div>
        }
        <div class="flex items-end justify-between">
            <div>
                <p>100мл.</p>
            </div>
            <div>
                <p class="text-3xl font-semibold">
                    @Model.Price лв.
                </p>
            </div>
        </div>
        <div>
            <div>
                <p class="font-medium"><span class="text-green-800">В наличност</span> | @Model.Price лв. / 100 мл., вкл. ДДС</p>
            </div>
        </div>
        <div class="flex gap-3">
            <select class="grow-[0] px-5 py-4" id="quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <div class="grow-[5] flex cursor-pointer items-center justify-center bg-black text-neutral-200 transition-colors duration-300 hover:bg-stone-700">
                <a>
                    <p>В кошницата</p>
                </a>
            </div>
        </div>
        @*  <div class="flex flex-col gap-5">
        <div>
        <p>СПИДИ</p>
        <p>още утре четвъртък 23/05/2024г.</p>
        </div>
        <div>
        <p>Лично получаване</p>
        <p>още утре четвъртък 23/05/2024г.</p>
        </div>
        </div> *@
    </div>
</div>

@section Scripts {
    @*  <script>
        document.getElementById("increment").onclick = () => {
            var text = document.getElementById("quantity");

            if (text.value === "") {
                return text.value = 1
            }

            var qty = parseInt(text.value);

            text.value = qty + 1;
        }
    </script>

    <script>
        document.getElementById("decrement").onclick = () => {
            var text = document.getElementById("quantity");

            if (text.value === "") {
                return text.value = 1
            }

            var qty = parseInt(text.value);

            if (qty - 1 < 1) {
                return text.value = 1
            }

            text.value = qty - 1;
        }
    </script> *@

    <script>
        document.getElementById("add-to-cart").onclick = () => {
            let productId = document.getElementById("product-id");
            let pname = document.getElementById("name");
            let price = document.getElementById("price");
            let quantity = document.getElementById("quantity");

            let product = {
                id: productId.value,
                name: pname.value,
                price: parseFloat(price.value),
                quantity: parseInt(quantity.value),
                totalPrice: roundToTwo(price.value * quantity.value)
            }

            if (!localStorage.getItem("cart")) {
                localStorage.setItem("cart", "[]");
            }


            function addItemToCart(product) {
                let cart = JSON.parse(localStorage.getItem("cart"));
                if (cart.length === 0) {
                    cart.push(product);
                }
                else {
                    let isPresent = cart.find(x => x.id === product.id);

                    if (isPresent === undefined) {
                        cart.push(product)
                    }
                    else {
                        isPresent.quantity += product.quantity;
                        isPresent.totalPrice = roundToTwo(isPresent.price * isPresent.quantity);
                    }
                }

                localStorage.setItem("cart", JSON.stringify(cart));
            }

            function roundToTwo(num) {
                return +(Math.round(num + "e+2") + "e-2");
            }

            addItemToCart(product);
        }
    </script>
}