@model ProductDetailsViewModel

@{
    ViewData["Title"] = "Details";
}



<div class="flex gap-28">
    <div class="basis-[200%]">
        <img src="@Model.ProductImg" alt="Alternate Text" />
        @* <p>Test</p> *@
    </div>
    <div class="basis-[100%]">
        <div class="flex flex-col gap-2.5">
            <div>
                <p>
                    <a class="font-light underline" href="#">@Model.BrandName</a> <span class="font-bold">@Model.Name</span>
                </p>
            </div>
            <div>
                <p>тоалетна вода</p>
            </div>
        </div>
        <div class="flex items-end justify-between">
            <div>
                <p>100мл.</p>
            </div>
            <div>
                <p class="text-3xl font-semibold">
                    @Model.Price лв.
                </p>
            </div>
        </div>
        <div>
            <div>
                <p class="font-medium"><span class="text-green-800">В наличност</span> | @Model.Price лв. / 100 мл., вкл. ДДС</p>
            </div>
        </div>
        <div class="flex">
            <select id="quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <div>
                <a>
                    <p>
                        В кошницата
                    </p>
                </a>
            </div>
        </div>
        <div class="flex flex-col gap-5">
            <div>
                <p>СПИДИ</p>
                <p>още утре четвъртък 23/05/2024г.</p>
            </div>
            <div>
                <p>Лично получаване</p>
                <p>още утре четвъртък 23/05/2024г.</p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
   @*  <script>
        document.getElementById("increment").onclick = () => {
            var text = document.getElementById("quantity");

            if (text.value === "") {
                return text.value = 1
            }

            var qty = parseInt(text.value);

            text.value = qty + 1;
        }
    </script>

    <script>
        document.getElementById("decrement").onclick = () => {
            var text = document.getElementById("quantity");

            if (text.value === "") {
                return text.value = 1
            }

            var qty = parseInt(text.value);

            if (qty - 1 < 1) {
                return text.value = 1
            }

            text.value = qty - 1;
        }
    </script> *@

    <script>
        document.getElementById("add-to-cart").onclick = () => {
            let productId = document.getElementById("product-id");
            let pname = document.getElementById("name");
            let price = document.getElementById("price");
            let quantity = document.getElementById("quantity");

            let product = {
                id: productId.value,
                name: pname.value,
                price: parseFloat(price.value),
                quantity: parseInt(quantity.value),
                totalPrice: roundToTwo(price.value * quantity.value)
            }

            if (!localStorage.getItem("cart")) {
                localStorage.setItem("cart", "[]");
            }


            function addItemToCart(product) {
                let cart = JSON.parse(localStorage.getItem("cart"));
                if (cart.length === 0) {
                    cart.push(product);
                }
                else {
                    let isPresent = cart.find(x => x.id === product.id);

                    if (isPresent === undefined) {
                        cart.push(product)
                    }
                    else {
                        isPresent.quantity += product.quantity;
                        isPresent.totalPrice = roundToTwo(isPresent.price * isPresent.quantity);
                    }
                }

                localStorage.setItem("cart", JSON.stringify(cart));
            }

            function roundToTwo(num) {
                return +(Math.round(num + "e+2") + "e-2");
            }

            addItemToCart(product);
        }
    </script>
}