@model IEnumerable<ProductViewModel>;
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-3">
            <div class="card h-100" style="width: 18rem;">
                <img src="@product.ImageUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                    <p class="card-text">@(product.Price) лв.</p>
                    <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-primary">Редактирай</a>
                    <form asp-controller="Product" asp-action="Delete" method="post">
                        <input type="hidden" name="id" value="@product.Id" />
                        <button type="submit" class="btn btn-danger" onclick="deleteProduct(event)">Изтрий</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>

<script>
    async function deleteProduct(e) {
        e.preventDefault();
        const result = await Swal.fire({
            title: 'Изтриване на артикул',
            text: 'Сигурни ли сте, че искате да изтриете този артикул?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Да, изтрий!',
            cancelButtonText: 'Отказ'
        });

        if (result.isConfirmed) {
            await Swal.fire(
                'Изтрит!',
                'Артикулът е изтрит успешно.',
                'success'
            );
            e.target.closest('form').submit();
        }
    }
</script>