@model ProductViewModel;


<div class="card">
    <a asp-controller="Product" asp-action="About" asp-route-id="@Model.Id">
        <div class="card-img-container">
            <img src="@Model.ImageUrl"
                 alt="Product Image" />
        </div>
    </a>
    <div class="card-label-container">
        <a asp-controller="Product" asp-action="Index">@Model.Name</a>
        <p class="card-label-container-price">@(Model.Price) лв.</p>
    </div>
    @if (this.User.Identity?.IsAuthenticated ?? false)
    {
        <div class="card-actions">
            <a asp-controller="Product" asp-action="Edit" asp-route-id="@Model.Id" class="card-actions-edit">
                <i class="fa-solid fa-pen-to-square"></i>
            </a>
            @*  <form asp-controller="Product" asp-action="Delete" asp-route-id="@Model.Id" method="post">
        <button type="submit" class="card-actions-delete">
        <i class="fa-solid fa-trash"></i>
        </button>
        </form> *@
            @* <a href="#" class="card-actions-delete">
        <i class="fa-solid fa-trash"></i>
        </a> *@
        </div>
    }
</div>