@model ProductViewModel;

<div class="flex flex-col items-center justify-between gap-5 overflow-hidden w-[10rem] opacity-85 transition-all duration-700 hover:-translate-y-3 hover:relative hover:opacity-100">
    <div class="h-full w-full bg-white">

        <!-- make somehow its' children stretch to the full width or sum idk -->
        <!-- the max-w makes it obv take less than the threshold of the value given up until this value  -->
        <!-- the max-w makes it have some spare space on left and right (width) -->
        <div class="flex flex-col gap-3">
            <div class="relative">
                <a class="flex flex-col items-center" asp-controller="Product" asp-action="Details" asp-route-id="@Model.Id">
                    <div class="w-[9rem]">
                        <img class="h-[10rem] w-full rounded-xl" src="@Model.ImageUrl"
                             alt="Product Image" />
                    </div>
                    <div class="flex flex-col items-center absolute bottom-0 overflow-visible gap-0.5 font-medium">
                    @if (Model.OnSale)
                    {
                        <span class="text-xxs text-center text-white bg-pink-600 px-2 py-0.5">РАЗПРОДАЖБА</span>
                    }
                    @if (Model.Price >= 75)
                    {
                            <span class="text-xxs text-center text-white bg-black text-nowrap px-2 py-0.5">БЕЗПЛАТНА ДОСТАВКА</span>
                        }
                    </div>
                </a>
            </div>
            <div class="text-center">
                <a asp-controller="Product" asp-action="Details" asp-route-id="@Model.Id">@Model.Name</a>
            </div>
        </div>
        <div class="text-center font-bold">
            <p>@(Model.Price) лв.</p>
        </div>
    </div>
</div>