@using WebStore.MVC.Models.Account
@model AccountLoginViewModel

@{
    Layout = null;
    ViewData["Title"] = "Вход";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - VASD</title>
    <link rel="stylesheet" type="text/css" href="slide navbar style.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <link href="~/css/account.css" rel="stylesheet" />
</head>
<body>
    <div class="main">
        @* <input type="checkbox" id="chk" aria-hidden="true"> *@
        <div class="signup">
            <form method="post">
                <label id="action-title">@ViewData["Title"]</label>
                @* <input type="text" name="txt" placeholder="User name" required=""> *@
                <input asp-for="@Model.Email" placeholder="Имейл" />
                <input asp-for="@Model.Password" placeholder="Парола" />
                <label asp-for="@Model.RememberMe">Запомни ме</label>
                <input type="checkbox" />
                <button type="submit">@ViewData["Title"]</button>
            </form>
        </div>
    </div>
</body>
</html>