@using WebStore.MVC.Models.Account
@model AccountLoginViewModel

@{
    Layout = null;
    ViewData["Title"] = "Вход";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebStore</title>
    <link rel="stylesheet" href="../css/output.css" />
</head>
<body class="min-h-screen justify-center flex items-center font-main bg-gradient-to-br from-pink-300 to-blue-500">
    <!-- TODO: Add a diff font lol -->
    <div class="flex flex-col gap-8 items-center w-96">
        <div class="text-center">
            <div class="flex flex-col gap-3">
                <div class="text-4xl font-semibold">
                    <p>WELCOME BACK</p>
                </div>
                <div>Welcome back! Please enter your details.</div>
            </div>
        </div>

        @* <form asp-controller="Account" asp-action="Login" method="post"></form> *@
        <form asp-controller="Account" asp-action="Login" method="post" class="flex flex-col gap-7 w-full">
            <div class="flex flex-col gap-2">
                <label asp-for="@Model.Email" class="font-semibold text-sm" for="email"></label>
                <input asp-for="@Model.Email" class="border-gray-300 border-2 rounded-lg px-3 py-1.5 shadow-md shadow-slate-400 text-base outline-none"
                       type="text"
                       id="email"
                       placeholder="Enter your email" />
            </div>
            <div class="flex flex-col gap-2">
                <label asp-for="@Model.Password" class="font-semibold text-sm" for="password"></label>
                <input asp-for="@Model.Password" class="border-gray-300 border-2 rounded-lg px-3 py-1.5 shadow-md shadow-slate-400 text-base outline-none"
                       type="password"
                       id="password"
                       placeholder="***********" />
            </div>
            <div class="flex justify-between shrink-0 text-sm font-semibold">
                <div class="flex gap-2">
                    <input asp-for="@Model.RememberMe" class="relative peer shrink-0 appearance-none w-4 h-4 border-2 border-gray-300 rounded-md bg-white mt-1 checked:bg-slate-800 checked:border-0 focus:outline-none focus:ring-offset-0 focus:ring-2 focus:ring-slate-500 disabled:border-slate-400 disabled:bg-slate-400"
                           type="checkbox"
                           id="rememberme-check" />
                    <!-- TODO: if i can somehow make some padding in the checkbox it'd be -->
                    <!-- awesome -->
                    <label asp-for="@Model.RememberMe" class="mt-0.5" for="rememberme-check"></label>
                    <svg class="text-white absolute w-4 h-4 mt-1 hidden peer-checked:block pointer-events-none"
                         xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 24 24"
                         fill="none"
                         stroke="currentColor"
                         stroke-width="4"
                         stroke-linecap="round"
                         stroke-linejoin="round">
                        <polyline points="20 6 9 17 4 12"></polyline>
                    </svg>
                    <!-- whats the margin top for?? test it lol -->
                </div>
                <div class="mt-0.5">
                    <a href="#">Забравена парола?</a>
                </div>
            </div>
            <div class="">
                <button class="bg-slate-800 text-white px-3 py-2 rounded-xl block text-center font-semibold">
                    @ViewData["Title"]
                </button>
            </div>
            <div class="text-center font-semibold text-sm text-white">
                <p>
                    Нямате акаунт?
                    <a asp-controller="Account" asp-action="Register" class="text-pink-200">Регистрация</a>
                </p>
            </div>
        </form>
    </div>

    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    @* <script src="~/js/site.js" asp-append-version="true"></script> *@
    <partial name="_ValidationScriptsPartial"></partial>
    <script src="~/lib/toastr/toastr.min.js"></script>
</body>
</html>
