@model OrderFormModel

@{
    ViewData["Title"] = "Manage Order";
}
<div class="flex flex-col items-center gap-5">
    <div>
        <h1 class="text-center">@ViewData["Title"]</h1>
    </div>

    <div class="flex items-center gap-10">

        <div class="w-[36rem] rounded-lg border border-gray-300 py-6">

            <form class="flex flex-col items-center gap-7" method="post">
                <div class="text-xs italic text-red-500" asp-validation-summary="ModelOnly"></div>


                <div class="flex gap-5">
                    <div class="flex flex-col items-center">
                        <label asp-for="@Model.OrderStatusId"></label>
                        <span class="text-xs italic text-red-500" asp-validation-for="@Model.OrderStatusId"></span>
                        <select class="rounded-lg border border-gray-400 px-3 py-1.5" asp-for="@Model.OrderStatusId">
                            @foreach (var status in ViewBag.OrderStatuses)
                            {
                                <option value="@status.Id">@status.Name</option>
                            }
                        </select>
                    </div>
                </div>




                <button class="rounded-lg bg-blue-500 px-3 py-1.5 text-lg text-white hover:bg-blue-600" type="submit">Редактирай</button>

            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

