@model IEnumerable<OrderTableModel>

@{
    ViewData["Title"] = "Orders";
}

<div class="flex flex-col gap-5">
    <div class="flex gap-7">
        <div>
            <label for="count">Show</label>
            <select id="count">
                <option value="0">All</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="5">5</option>
                <option value="10">10</option>
            </select>
            <span>entries</span>
        </div>
        <div>
            <label for="sort">Sort by</label>
            <select id="sort">
                <option value="date-asc">Newest</option>
                <option value="date-desc">Oldest</option>
            </select>
        </div>
    </div>
    <a id="search" class="cursor-pointer">Submit</a>
   @*  <div class="flex gap-3">
        <div>
            <a asp-area="Admin" asp-controller="Product" asp-action="Add" class="rounded-lg bg-green-500 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-green-700">
                Add Product
            </a>
        </div>

        <div>
            <a asp-area="Admin" asp-controller="Product" asp-action="Restock" class="rounded-lg bg-amber-500 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-amber-700">
                Restock
            </a>
        </div>
    </div> *@
    <div class="overflow-hidden rounded-lg border border-gray-300">
        <table class="w-full">
            <tr class="bg-gray-200 text-left">
                <th class="py-2 pl-7">
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th class="py-2">
                    @Html.DisplayNameFor(model => model.CustomerEmail)
                </th>
                <th class="py-2">
                    @Html.DisplayNameFor(model => model.OrderDate)
                </th>
                <th class="py-2">
                    @Html.DisplayNameFor(model => model.OrderStatus)
                </th>
                <th class="py-2 pr-1">
                    @Html.DisplayNameFor(model => model.TotalPrice)
                </th>
            </tr>
            @foreach (var order in Model)
            {
                <tr class="text-left font-medium">
                    <td class="py-2 pl-7">
                        <a class="hover:text-blue-500" asp-area="Admin" asp-controller="Order" asp-action="Edit" asp-route-id="@order.Id">
                            @order.Id
                        </a>
                    </td>
                    <td class="py-2">
                        @order.CustomerEmail
                    </td>
                    <td class="py-2">
                        @(order.OrderDate)
                    </td>
                    <td class="py-2">
                        @order.OrderStatus
                    </td>
                    <td class="py-2 pr-1">
                        @(order.TotalPrice) лв.
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById("search").onclick = function () {
            var count = document.getElementById("count").value;
            var sort = document.getElementById("sort").value;
            var url = new URL(window.location.href);
            url.searchParams.set("count", count);
            url.searchParams.set("sort", sort);
            window.location.href = url;
        };
    </script>
}